<!-- views/partials/footer.ejs -->
    <hr>
    <div id="about">
      <p>
        <a href="https://github.com/veto64/validator/">About this checker
        </a> • 
        <a href="https://github.com/veto64/validator/issues">Report an issue
        </a> • 
        <span class="version">Version: 1
        </span>
      </p>
    </div>
   <script src="/progressbar.js/dist/progressbar.min.js"></script>
   <script src="/js/app.js"></script>   

